/* src/index.css */

html {
  /* Бул тексттин өлчөмүн экранга жараша бир аз кичирейтет */
  font-size: 16px;
}
@media (max-width: 992px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* ... калган коддор ... */
